@import "../../../css-config/mixins.scss";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  @include sm {
    flex-direction: column;
    gap: 20px;
  }
  .left {
    display: flex;
    align-items: center;
    gap: 10px;
    .logo {
      width: 50px;
      img {
        width: 100%;
      }
    }
    .brandName {
      font-size: 35px;
      color: #68b498;
      font-weight: 500;
    }
  }
  .right {
    display: flex;
    align-items: center;
  }
}
